<div class="container mt-2 mb-3 sticky-top shadow-lg bg-primary">
    <mat-toolbar color="primary">
        <div fxHide.gt-xs>
            <button mat-icon-button (click)="onToggleSidenav()">
                <mat-icon>dashboard</mat-icon>
            </button>
        </div>
        <div>
            <a routerLinkActive="active-link" (click)="onToggleSidenav()"> Menu |</a>
        </div>
        <div>
            <a [routerLink]="['tutoriales']" routerLinkActive="active-link"> | Tutoriales</a>
        </div>

    </mat-toolbar>
</div>


