<div class="container shadow-lg p-3 mb-5 bg-light rounded">

<div class="card">
  <div class="card-header">
    Experiencia Laboral 2017-2021
  </div>

  <div class="card-body">
    <h1 class="card-title">Hospital Maranatha</h1>
    <b>Cargo desempeñado</b>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-warning">Ver tutorial</a>
  </div>
</div>
<div class="card">
  <div class="card-header">
    Experiencia Laboral 2017-2021
  </div>

  <div class="card-body">
    <h1 class="card-title">Hospital Maranatha</h1>
    <b>Cargo desempeñado</b>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-warning">Ver tutorial</a>
  </div>
</div>
<div class="card">
  <div class="card-header">
    Experiencia Laboral 2017-2021
  </div>

  <div class="card-body">
    <h1 class="card-title">Hospital Maranatha</h1>
    <b>Cargo desempeñado</b>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-warning">Ver tutorial</a>
  </div>
</div>
</div>
