<mat-nav-list>
  <a mat-list-item routerLink="/inicio" (click)="onSidenavClose()">
      <mat-icon>home</mat-icon> <span class="nav-caption">Inicio</span>
  </a>
  <a mat-list-item routerLink="/perfil" (click)="onSidenavClose()">
      <mat-icon>switch_account</mat-icon> <span class="nav-caption">Mi Perfil</span>
  </a>

  <a mat-list-item routerLink="/proyectos" (click)="onSidenavClose()">
    <mat-icon>code</mat-icon><span class="nav-caption">Mis proyectos</span>
  </a>

  <a mat-list-item routerLink="/experiencia-laboral" (click)="onSidenavClose()">
      <mat-icon>home_repair_service</mat-icon><span class="nav-caption">Experiencia Laboral</span>
  </a>

  <a mat-list-item routerLink="/tutoriales" (click)="onSidenavClose()">
    <mat-icon>grid_view</mat-icon><span class="nav-caption">Tutoriales</span>
  </a>

  <a mat-list-item routerLink="/iniciar-sesion" (click)="onSidenavClose()">
    <mat-icon>login</mat-icon><span class="nav-caption">Admin</span>
  </a>


