<footer class="container bg-secondary text-white">

  <div class="row mt-2">
  <div class="container col-md-3">
    <h2 >Jose Alberto Hernández Elel</h2>

    <ul class="navbar-nav">
        <li class="nav-item"><i class="bi bi-geo-alt"></i> Chimaltenango, Guatemala</li>
        <li class="nav-item"><i class="bi bi-telephone-inbound"></i> (+502) 44564442</li>
        <li class="nav-item"><i class="bi bi-envelope-open"></i> joselel2011@gmail.com</li>
    </ul>

  </div>
  <div class="container col-md-3">
    <h2>Redes sociales</h2>
      <ul class="navbar-nav">
      <li class="nav-item"><a href="https://api.whatsapp.com/send?phone=50256674849" class="text-white text-decoration-none "><i class="bi bi-whatsapp bg-success"></i> WhatsApp</a></li>
      <li class="nav-item"><a href="https://github.com/joselel" class="text-white text-decoration-none"><i class="bi bi-github bg-dark"></i> Github</a><br></li>
      <li class="nav-item"><a href="https://www.facebook.com/profile.php?id=100008159809292" class="text-white text-decoration-none"> <i class="bi bi-facebook bg-primary"></i> Facebook</a><br></li>
      <li class="nav-item"><a href="https://twitter.com/elel_jose" class="text-white text-decoration-none"> <i class="bi bi-twitter bg-primary"></i> twitter</a><br></li>
      <li class="nav-item"><a href="https://www.instagram.com/joseelel/" class="text-white text-decoration-none"> <i class="bi bi-instagram instagram"></i> Instagram</a><br></li>

    </ul>
  </div>

</div>
<hr>
<div class="row col-md-12 text-center">
 <p> Desarrollado por Jose Elel &copy;2021 / Angular 12</p>
</div>
</footer>
